@charset "utf-8";

html, body {
	background-color: #EEE;
	height: 100%;
	width: 100%;
	font-size: 12px;
	overflow: hidden;
}

header {
	position: fixed;
	width: 100%;
	color: #f2f2f2;
	z-index: 999;
}

header h1 {
	font-size: 1rem;
}

header h1:before {
	content: "";
	display:inline-block;
	background:url(../images/treble.png);
	width: 20px;
	height: 30px;
	position: relative;
	margin: 0 2px;
	top: 10px; 
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

header .menu {
	position: absolute;
	top: 0.5rem;
	right: 3%;
	font-size: 2rem;
	cursor: pointer;
}

.main {
	z-index: 0;
	position: absolute;
	width: 600%;
	height: 100%;	
	left: -400%;
}

.main section {
	width: 16.666666%;
	height: 100%;
	float: left;
}

.top .photo1, .photo2, .title{
	width: 100%;
	height: 100%;
}

.top .photo1 {
	background:url(../images/top/1.jpg);
	background-size: cover;
	background-position: center center;
}

.top .title{
	position: relative;
	width: 100%;
	height: 100%;
	background:url(../images/title.png);
	background-size: auto 86%;
	background-repeat: no-repeat;
	background-position: 6% center;
}

.top .enter {
	color: #f2f2f2;
	font-size: 0.75rem;
	bottom: 8%;
	right: 10%;
	font-size: 1.6rem;
	padding: 4px 12px;
	position: absolute;
}

.summary  .head{ background:url(../images/summary.jpg);  }
.program  .head{ background:url(../images/program.jpg);  }
.schedule .head{ background:url(../images/schedule.jpg); }
.cast     .head{ background:url(../images/cast.jpg);     }
.contact  .head{ background:url(../images/contact.jpg);  }

.main .head {
	height: 20%;
	background-size:cover;
	background-position: center center;
}

.main article {
	position: relative;
	margin: 1.6rem 6% 0;
	max-height: 72%;
	overflow: auto;
}

.main h1 {
	position: relative;
	top: 38%;
	text-shadow: 0 2px 3px #000; 
	text-align: center;
	color: #f2f2f2;
	font-size: 3.6rem;
	letter-spacing: 0.5rem;
}

.main h2 {
	letter-spacing: 0.1rem;
	font-size: 1.3rem;
	font-weight: normal;
	margin-bottom: 1%;
}

.main h2 span {
	font-size: 2rem;
}

.main p {
	line-height: 1.7rem;
	letter-spacing: 0.1rem;
	margin-bottom: 5%;
}

.main .button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: solid 1px #aaa;
	cursor: pointer;
	font-weight: bold;
}

.program .in {
	height: 26.6666666666%;
}

.program p{
	display: none;
}

.program h2 {
	font-size: 1.7rem;
	line-height: 2rem;	
}

.program h2 span {
	font-size: 2.7rem;
}

.in .photo, .text{
	height: 100%;
	width: 50%;
	float: left;
}

.first  .photo { background:url(../images/first.jpg);  }
.second .photo { background:url(../images/second.jpg); }
.third  .photo { background:url(../images/third.jpg);  }

.in .photo {
	background-size:cover;
	background-position: center center;	
}

.in hgroup {
	height: 80%;
	padding: 10%;
	position: relative;
}

.in .more {
	color: #555;
	font-size: 1.2rem;
	bottom: 10%;
	right: 10%;
	padding: 4px 8px;
	position: absolute;
}

.schedule table {
	width: 100%;
}

.schedule tr {
	height: 5rem;
}

.schedule td {
	vertical-align: baseline;
}

.schedule td:nth-child(1) {
	width: 2.5rem;
	text-align: center;
}

.schedule td:nth-child(2) {
	width: 3rem;
	text-align: center;
}

.schedule table i{
	color: #b3b3b3;
	position: relative;
	top: 0.25rem;
	font-size: 2rem;
}

.schedule .time_boder {
	position: absolute;
	top: 4%;
	left: 3.78rem;
	background-color: #b3b3b3;
	width: 0.4rem;
	height: 40rem;
}

.akashi .photo { background:url(../images/akashi.jpg); }

.cast .school {
	height: 11.3%;
	position: relative;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
}

.cast .photo{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 5%;
	height: 45px;
	width: 45px;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.cast h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.contact input, textarea {
	margin-bottom: 0.5rem;
	background-color: #fafafa;
    border: solid 1px #ccc;
    width: 90%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.contact input {
	padding: 0.6rem 4%;
}

.contact textarea {
	padding: 0.6rem 4%;
	line-height: 1.5rem;
	height: 4.5rem;
}

.contact .send {
	margin: 1rem 0 0;
	display: inline-block;
	padding: 0.5rem 5%;
	background-color: #fafafa;
}